altgraph==0.17.2
asn1crypto==1.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.1
future==0.18.2
greenlet==1.1.2
idna==3.3
numpy==1.22.2
oscrypto==1.2.1
pandas==1.4.1
pefile==2021.9.3
pyarrow==6.0.1
pycparser==2.21
pycryptodomex==3.14.1
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.2
PyJWT==2.3.0
pyOpenSSL==21.0.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
python-dateutil==2.8.2
pytz==2021.3
pywin32-ctypes==0.2.0
requests==2.27.1
six==1.16.0
snowflake-connector-python==2.7.4
snowflake-sqlalchemy==1.3.3
SQLAlchemy==1.4.31
urllib3==1.26.8
